 <%- include("./partials/header.ejs") -%>         <!-- both formats of path works -->

<div >
    <h1>HOME</h1>
    <p><%= homeString %></p>
    <%posts.forEach(function(post){ %>
    <h1><%= post.title  %></h1>
    <div class="contentContainer"> 
        <p class="contentWrap"><%= post.content %>  </p> 
        <a class="readMore" href="/posts/<%=post.title%>">Read More</a>  
    </div>    <!--  string truncated using CSS -->
    <% });  %>
</div>

<%- include("partials/footer.ejs") -%>